.left-panel-container {
  display: flex;
  height: 100%;
}

.left-panel {
  min-width: 120px;
  background-color: #eeeeee;
  overflow-y: auto;
  border-right: 1px solid #ccc;
  height: 100%;
}

.left-panel-content {
  padding: 10px;
}

.left-panel-resizer {
  width: 5px;
  cursor: col-resize;
  background-color: #aaa;
}
